*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;

}
/* navbar section */
/* .navbar
{
    border-bottom: #e600e6 solid 5px;
} */
.navbar-nav
{
    justify-content: right;
    align-items: right;
    align-self: right;
}
/* .navbar-brand
{
    color: #e600e6 !important;
    font-size: 24px;
} */
.nav-link
{
    text-transform: uppercase;
}
/* .nav-link:hover
{
    color: #990099;
} */
.nav-item
{
    padding: 1 rem !important;
    font-size: 1rem !important;
}
/* navbar section */

/* header section */
#header
{
    background: url("../images/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1
{
    margin-top: 10px;
}
.row
{
    margin: 0px !important;
}
#header .overlay
{
    background-color: rgba(20, 0, 20, .4);
    height: 100vh;
}
.btn-outline-secondary
{
    cursor: pointer;
}
.btn-outline-secondary:hover
{
    background-color: #990099;
}
/* header section */

/* feature section */
#feature i
{
    color:#990099;
    cursor: pointer;
}
#feature h3:hover
{
    color: #990099;
    cursor: pointer;
}
/* feature section */



/* Our work section */
#work
{
    background: url("../images/modal.jpg");
    background-color: #990099;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#work i
{
    color:#990099;
}
/* Our work section */

/* slider section */
.carousel-caption h5, .carousel-caption p
{
    color: black;
    font-size: 2rem;
    background: transparent;
    backdrop-filter: blur(5px) saturate(70%);


}

/* slideer section */


/* history section */
#history
{
    background-color: #f0f0f5;
}
.historyArea
{
    background-color: white;
    height: 450px;
    margin-right: -50px;
    padding: 30px;
}
.historyImage img
{
    margin-top: 90px;
    margin-left: -20px;
    z-index: -40 !important;
}
/* history section */

/* Image Gallery section */
#gallery .col-md-3
{
    padding-left: 0;
    padding-right: 0;
}
.imageContainer
{
    position: relative;
    cursor: pointer;
}
.imgOverlay
{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 0, 20);
    opacity: 0;
}
.imageContainer:hover .imgOverlay
{
    opacity: .7;
}
.imgText
{
    position: absolute;
    color: white;
    font-weight: bolder;
    padding-top: 25%;
    padding-left: 25%;
}
/* Image Gallery section */

/* footer section */
#footer
{
    background-color: #111;
    width: 100%;
}
#footer .container
{
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social
{
    margin: 20px 0;
}
.social a
{
    color: white;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
}
.first-content h2, .second-content h2
{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}
.text, .first-content p
{
    color: white;
}
#footer .container .content
{
    padding: 10px 20px;
    color: white;
}
.second
{
    margin-left: 100px;
}
/* footer section */


/* responisveness */
@media screen and (max-width: 1400px) {
    #header
    {
        /* background-size: 1400px 100vh; */
    }
}
@media screen and (max-width: 1200px) {
    #header
    {
        background-size: 1200px 100vh;
    }
}
@media screen and (max-width: 992px) {
    #header
    {
        background-size: 992px 100vh;
    }
}
@media screen and (max-width: 768px) {
    #header
    {
        background-size: 768px 100vh;
    }
}
@media screen and (max-width: 576px) {
    #header
    {
        background-size: 576px 100vh;
    }
}
@media screen and (max-width: 476px) {
    #header
    {
        background-size: 476px 100vh;
    }
}
@media screen and (max-width: 376px) {
    #header
    {
        background-size: 376px 100vh;

    }

}
/* responisveness */